# Managed by Ansible. Do not put credentials in this file.
REMOTE_TERMINAL_LISTEN_ADDRESS={{ remoteterminal_listen_address }}:{{ remoteterminal_port | int }}
REMOTE_TERMINAL_TRANSPORT={{ remoteterminal_transport }}
REMOTE_TERMINAL_ALLOWED_USER={{ remoteterminal_user }}
REMOTE_TERMINAL_MACHINE_NAME={{ remoteterminal_machine_name | to_json }}
{% if remoteterminal_tls_enabled | bool %}
REMOTE_TERMINAL_TLS_CERT_FILE={{ remoteterminal_tls_cert_path }}
REMOTE_TERMINAL_TLS_KEY_FILE={{ remoteterminal_tls_key_path }}
{% else %}
REMOTE_TERMINAL_TLS_CERT_FILE=
REMOTE_TERMINAL_TLS_KEY_FILE=
{% endif %}
REMOTE_TERMINAL_RUNTIME_DIR={{ remoteterminal_runtime_dir }}
REMOTE_TERMINAL_TMUX_BINARY={{ remoteterminal_tmux_binary }}
REMOTE_TERMINAL_TTYD_BINARY={{ remoteterminal_ttyd_tool_dir }}/bin/ttyd
REMOTE_TERMINAL_CODE_SERVER_BINARY={{ remoteterminal_code_server_tool_dir }}/bin/code-server
REMOTE_TERMINAL_STATE_DIR={{ remoteterminal_state_dir }}
REMOTE_TERMINAL_MAX_SESSIONS={{ remoteterminal_max_sessions | int }}
REMOTE_TERMINAL_MAX_CODE_SERVERS={{ remoteterminal_max_code_servers | int }}
REMOTE_TERMINAL_PAM_SERVICE={{ remoteterminal_pam_service }}
{% if remoteterminal_idle_timeout | length > 0 %}
REMOTE_TERMINAL_IDLE_TIMEOUT={{ remoteterminal_idle_timeout }}
{% endif %}
{% if remoteterminal_absolute_timeout | length > 0 %}
REMOTE_TERMINAL_ABSOLUTE_TIMEOUT={{ remoteterminal_absolute_timeout }}
{% endif %}
