# Managed by linuxcncsetup.
# Route generic portals to GTK and screen capture to wlroots.

[preferred]
default=gtk
org.freedesktop.impl.portal.Screenshot=wlr
org.freedesktop.impl.portal.ScreenCast=wlr
org.freedesktop.impl.portal.Secret=gnome-keyring
